
instance_name            = "test-instance"
instance_hostname        = "test-instance"
ssh_username             = "mediavmuser"
regular_vm_user_username = "..."
regular_vm_user_password = "..."
# ssh_public_key_fingerprint = "your-ssh-fingerprint" # Find it using the DigitalOcean API or DO console

ssh_private_key_path = "~/.ssh/id_ed25519"
ssh_public_key_path  = "~/.ssh/id_ed25519.pub"
machine_type               = "s-2vcpu-4gb"
os_image                   = "ubuntu-24-04-x64"
ssh_public_key_fingerprint = "30:56:..."
docker_hub_username        = "devshittu"
docker_hub_token           = "dckr_pat_example"


environment                = "staging"

duckdns_subdomains = "***"
duckdns_token      = "**"


network_bridge        = "custombr0"
storage_pool          = "kingston-pool"
# lxd/terraform.tfvars.example