[Unit]
Description=GitHub Actions Runners for Media Frontend
After=network.target

[Service]
ExecStart=/home/mediavmuser/action-runners/frontend/run.sh
User=mediavmuser
WorkingDirectory=/home/mediavmuser/action-runners/frontend
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

# terraform/scripts/actions.runner.frontend.service